# Mac Development
**/.DS_Store

# Environment
**/.env

# Python Development
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/.venv/
**/venv/

# Test files
llm_manager/chat_terminal.py
history.json